@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Raleway:wght@300;400;700&display=swap');
@import url('https://use.fontawesome.com/releases/v5.15.0/css/all.css');

/* ---------------------------------------- CSS RESET & DEFAULTS */
* {
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Raleway', Times, serif;
    font-size:16px;
    background: #fff;
}


/* ---------------------------------------- COLOURS #D96415 #F9440D */
.color-accent-bg, .color-accent-bg-hover:hover {
    background-color: rgb(252, 80, 27);
}
.color-accent, .color-accent-hover:hover {
    color: rgb(252, 80, 27);
}
.color-accent-light, .color-accent-light-hover:hover {
    color: #f75;
}

.color-light-bg, .color-light-bg-hover:hover {
    background-color: #f7f6e7;
}
.color-light, .color-light-hover:hover {
    color: #f7f6e7;
}


/* ---------------------------------------- EFFECTS */
@-webkit-keyframes hero-text {
    from{
        -webkit-transform:scale(0.95);
                transform:scale(0.95);
    }
    to{
         -webkit-transform:scale(1);
                 transform:scale(1);
   }
}
@keyframes hero-text {
    from{
        -webkit-transform:scale(0.95);
                transform:scale(0.95);
    }
    to{
         -webkit-transform:scale(1);
                 transform:scale(1);
   }
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    -webkit-transform: translate3d(-3px, 0, 0);
            transform: translate3d(-3px, 0, 0);
  }

  40%, 60% {
    -webkit-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    -webkit-transform: translate3d(-3px, 0, 0);
            transform: translate3d(-3px, 0, 0);
  }

  40%, 60% {
    -webkit-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
  }
}


/* ---------------------------------------- SCREEN READERS */
.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}


/* ---------------------------------------- FORMATTING */
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}
.text-upper {
    text-transform: uppercase;
}
.text-bold {
    font-weight: 900;
}
.text-italic {
    font-style: italic;
}
.text-larger {
    font-size:1.2em;
}
.text-smaller {
    font-size:0.9em;
}
.text-pad {
    padding:1px 4px;
}


/* ---------------------------------------- MODAL */
.modal {
    background-color: rgba(0,0,0,0.8);
    height:100%;
    width:100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
}

.modal-section {
    background-color: rgba(255,255,255,1);
    max-width:94vw;
    position: fixed;
    top:2vw;
    left:2vh;
    z-index: 9999;
    border-radius: 10px;
    padding:20px 30px 30px 30px;
    -webkit-box-shadow: 0px 0px 40px -10px #000;
            box-shadow: 0px 0px 40px -10px #000;
}

.modal-section h3 {
    margin-bottom:50px;
}

.modal-section p {
    margin:15px 0;
}

.modal-hide {
    display: none;
}

.modal .button-close {
    position: absolute;
    right:5px;
    top:5px;
}


/* ---------------------------------------- FLEXBOX LAYOUTS */
.flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.flexbox-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}


.display-block-mobile {
    display:none;
}

/* ---------------------------------------- HEADER */

header {
    position: relative;
    width:100%;
    background: rgba(225,6,0,1);
}



header nav ul li a {
    font-family: 'Lato', sans-serif;
    font-size:18px;
    letter-spacing: 2px;
    word-spacing:200px;
    position:relative;
    text-shadow: 0px 0px 5px #000;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

#header-cta {
    position:absolute;
    width:200px;
    left: calc(50% - 100px);
    bottom:100px;
    -webkit-box-shadow: 10px -5px 40px -10px #000;
            box-shadow: 10px -5px 40px -10px #000;
    -webkit-animation: shake 2s ease-in-out 2s alternate 2 none;
            animation: shake 2s ease-in-out 2s alternate 2 none;
}


/* ---------------------------------------- HERO IMAGE */
/* Image from https://unsplash.com/@yvettedewit */

#hero-image {
    overflow: hidden;
    height:80vh;
    width:100%;
    background-image: url("../images/hero-1920.jpg");
    background-color: rgb(255, 110, 37);
    background-size: cover;
    background-position: center -0px;
    background-repeat: no-repeat;
    position: relative;
    top:-100px;
    z-index: 1;
    background-blend-mode: luminosity;
}

#hero-image:after {
    content:'';
    width:150%;
    height:70px;
    position: absolute;
    left:-25%;
    bottom:-10px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: #fff;
    z-index:999;
    -webkit-box-shadow:  inset 0px 10px 10px -5px rgba(0,0,0,0.5);
            box-shadow:  inset 0px 10px 10px -5px rgba(0,0,0,0.5);
}

#hero-text {
    position: absolute;
    top:15vh;
    left:0;
    right:0;
    text-align: center;
    font-family: 'Lato', sans-serif;
    display:block;
    -webkit-animation-name: hero-text;
            animation-name: hero-text;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

header > h1 {
    font-size:20px;
    font-weight:700;
    letter-spacing: 0px;
    word-spacing: 10px;
    padding:5px 10px;

}

#hero-text > p {
    font-size:26px;
    font-weight:700;
    text-shadow: 0px 0px 20px #000,0px 0px 20px #000;
    letter-spacing: 0px;
    word-spacing: 7px;
}


/* ---------------------------------------- MAIN CONTENT */

main {
    position: relative;
    top:-110px;
}

.main-section {
    position: relative;
    clear:both;
    margin:0 auto;
    max-width:1100px;
    padding:20px 10px 10px 10px;
    z-index:50;
}

.main-section-full {
    margin:100px 0;
    padding-top:80px;
    padding-bottom:80px;
    padding:80px calc(50% - 550px);
    position: relative;
    max-width:100%;
}

.main-section-color-container {
    position: relative;
}

.main-section-full:before {
    content:'';
    width:100%;
    height:5px;
    position: absolute;
    top:0px;
    left:0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background: #fff;
    z-index:999;
}

hr.main-section-hr {
    margin:80px 35%;
    border:0;
    height:1px;
}

main h2, main h3 {
    font-family: 'Lato', sans-serif;
    font-weight:300;
    letter-spacing: 1px;
}

main h2 {
    position: relative;
    font-size:40px;
    margin: 0 0 20px 0;
}

main h3 {
    font-size:18px;
    font-weight:500;
    margin:0 0 20px 0;
}

main p {
    margin: 50px 0;
    line-height: 1.6em;
}


/* ---------------------------------------- CARDS */

.card {
    width:220px;
    margin:10px;
    display:block;
    border:2px solid #F9440D;
    border-radius: 5px;
    overflow: hidden;
    position:relative;
}

.card.card-video {
    width:300px;
}
.card.card-video video {
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.card > i {
    font-size:50px;
    padding-top:20px;
    display:block;
}

.card h3 {
    margin:12px 10px;
}

.card p {
    margin:14px 10px;
    line-height: 1.2em;
}

.card-price {
    border-color:#f7f6e7;
}

.client-logo {
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin:10px;
    border:2px solid #fff;
    border-radius: 5px;
    position: relative;
    width: 220px;
    height:142px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px;
}

.client-desc {
    border:2px solid #fff;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.8);
    position:absolute;
    top:-2px;
    left:-2px;
    width:220px;
    z-index:999;
}

.client-desc h3, .client-desc p  {
    padding:10px;
    margin:0;
}

#client-boomtown {
    background-image:url("../images/client-logos/boomtown-logo.png");
}
#client-glasto {
    background-image:url("../images/client-logos/glastonbury-logo.png");
}
#client-larmertree {
    background-image:url("../images/client-logos/larmer-tree-fest-logo.png");
}
#client-pridecymru {
    background-image:url("../images/client-logos/pride-cymru-logo.png");
}


/* ---------------------------------------- FOOTER */

footer {
    position: relative;
    bottom:0;
    margin-top:60px;
    padding:60px 50px;
    min-height:200px;
    background: #333;
    width:100%;
    -webkit-box-shadow: inset 0px 30px 30px -20px #000;
            box-shadow: inset 0px 30px 30px -20px #000;
    font-family: 'Lato', sans-serif;
    font-size:14px;
    font-weight: 300;
    letter-spacing: 0px;
    word-spacing: 0px;
}

footer > .footer-box {
    width:18%;
    display:inline-block;
    vertical-align: top;
    margin:0 3%;
}

footer .footer-text-head {
    display:inline-block;
    font-size: 16px;
    padding-bottom:20px;
    letter-spacing: 0px;
    word-spacing: 0px;
    font-weight: 500;
}

footer ul.footer-ul {
    list-style: none;

}

footer ul.footer-ul li {
    line-height: 1.5em;
    margin-bottom:15px;
    margin-left:25px;
    position:relative
}

footer .footer-contact-us ul.footer-ul {
    text-align: right;
}

footer .footer-latest-news ul.footer-ul li a {
    margin-left:5px;
    font-size: 0.85em;
}

footer ul.footer-ul li::before {
    padding-right:10px;
    font-family: "Font Awesome 5 Free";
    position:absolute;
    left:-25px;
}

footer ul.footer-ul li.video::before {
    content: "\f144";
}

footer ul.footer-ul li.news::before {
    content: "\f1ea";
}

footer .footer-site-info ul.footer-ul li {
    display:inline-block;
    margin: 0 0 25px 25px;
}

footer .footer-logo {
    margin-right:10px;
    position: relative;
    color:#fff;
}

footer p {
    font-weight: 300;
}

#footer-socials {
    margin-top:40px;
    list-style-type: none;
}

#footer-socials li {
    display: inline-block;
    margin: 0 0 10px 15px;
}

#footer-socials li a i {
    font-size: 18px;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

#footer-socials li a i.fa-facebook:hover {
    color: #3D548E;
}
#footer-socials li a i.fa-app-store:hover {
    color: #44F;
}
#footer-socials li a i.fa-twitter:hover {
    color: #34B3F7;
}
#footer-socials li a i.fa-linkedin:hover {
    color: #0077b5;
}

#footer-socials li a i.fa-github:hover {
    color: #4078c0;
}

#footer-socials li a i.fa-google-play:hover {
    color: #3eb991;
}


/* ---------------------------------------- FORMS */

.button {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    padding:10px 30px;
    border:0;
    letter-spacing: 1px;
    word-spacing: 4px;
    font-size: 16px;
    -webkit-box-shadow: 0px 0px 20px -10px #000;
            box-shadow: 0px 0px 20px -10px #000;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.button i.fas {
    font-size:0.9em;
    vertical-align: 0px;
}

.input-block {
    display: block;
    padding:0;
    margin:0 0 50px 0;
    border:0 dotted #ccc;
    border-radius: 3px;
    position: relative;
}
.input-full {
    width:100%;
}

label {
    font-family: 'Lato', sans-serif;
    text-align: left;
    letter-spacing: 1px;
    display: inline-block;
    padding:0;
    font-weight:300;
    position: absolute;
    left:10px;
    top:0px;
    width:200px;
}
input[type=text], input[type=email], input[type=tel], input[type=date], textarea {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 1px;
    outline: 0;
    border: none;
    border-bottom: 1px solid #aaa;
    padding: 0 10px 0 210px;
}

textarea {
    border:1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #ccc;
}

::-moz-placeholder {
  color: #ccc;
}

:-ms-input-placeholder {
  color: #ccc;
}

::-ms-input-placeholder {
  color: #ccc;
}

::placeholder {
  color: #ccc;
}

form.main-section-form .input-block {
    display: inline-block;
    margin:0 0 50px 0;
    position: relative;
    width: 40%;
}
form.main-section-form .input-full {
    width:100%;
}

#form-signup-name { width:400px; }
#form-signup-phone { width:450px; }
#form-signup-email { width:550px; }
#form-signup-company { width:400px; }
#form-signup-date { width:400px; }
#form-signup-address { width:600px; }
#form-signup-city { width:400px; }
#form-signup-zip { width:350px; }

#form-contact-name { width:100%; }
#form-contact-festival { width:100%; }
#form-contact-phone { width:100%; }
#form-contact-email { width:100%; }
#form-contact-message { width:100%; height:130px; }

/* ---------------------------------------- WHEN SCREEN IS SMALLER THAN MIN WIDTH FOR MAIN SECTIONS*/

@media only screen and (max-width: 1099px) {
    .main-section-full {
        padding:80px 10px;
    }
    .flexbox-wrap {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

}

/* ---------------------------------------- TABLET ONLY */

@media only screen and (max-width: 768px) {


    header nav ul li {
        width:23%;
    }

    header nav ul li.header-logo {
        display:none;
    }

    #hero-image {
        min-height:500px;
        background-image: url("../images/hero-768.jpg");
    }

    #hero-text {
        top:130px;
    }

    #hero-text h1 {
        font-size:45px;
    }

    #hero-text p {
        font-size:21px;
    }

    footer {
        padding:50px 10px;
    }

    footer .footer-productionex {
        display: none;
    }
    footer > .footer-box {
        width:26%;
        margin:0 7% 0 0;

    }
}

/* ---------------------------------------- MOBILE ONLY */

@media only screen and (max-width: 600px) {

    .display-block-mobile {
        display: block;
    }

    header {
        position: absolute;
        height:55px;
        -webkit-transition: height 1s ease;
        -o-transition: height 1s ease;
        transition: height 1s ease;
    }

    header.header-mobile-open {
        height:250px;
        -webkit-transition: height 1s ease;
        -o-transition: height 1s ease;
        transition: height 1s ease;
    }

    header:before {
        width:280%;
        left:-90%;
    }

    #header-hamburger {
        position: relative;
        top:10px;
        text-align: center;
        z-index: 5;
        font-size: 30px;
    }

    header nav ul li {
        display: block;
        width:100%;
        margin:11px 0;
    }

    header nav ul li.header-logo {
        display:none;
    }

    #header-cta {
        bottom: 170px;
        left: calc(50% - 100px);
    }

    #hero-image {
        background-image: url("../images/hero-600.jpg");
    }

    #hero-text {
        top:auto;
        bottom:85px;
    }

    #hero-text h1 {
        font-size:35px;
    }

    #hero-text p {
        font-size:15px;
    }

    .card {
        width:80%;
    }
    .card.card-video {
        width:80%;
    }
    .card.card-video video {
        width:100%;
        border-top-left-radius:5px;
        border-top-right-radius:5px;
    }

    /* ---------------------------------------- MODAL */
    .modal-section {
        max-height:95%;
        width:90%;
        max-width:90%;
        position: relative;
        top:0;
        left:0;
        margin:5%;
        overflow: scroll;
    }

    /* ---------------------------------------- MOBILE FORMS */

    label {
        display: block;
        position: relative;
        left:0;
        top:0;
        width:auto;
        margin-bottom:10px;
    }

    form.main-section-form .input-block {
        width:100%;

    }
    input[type=text], input[type=email], input[type=tel],input[type=date],textarea {
        outline: 0;
        border: none;
        border-bottom: 1px solid #aaa;
        padding: 0 10px 0 0px;
    }
    textarea {
        border:1px solid #aaa;
    }

    #form-signup-name,
    #form-signup-phone,
    #form-signup-email,
    #form-signup-company,
    #form-signup-date,
    #form-signup-address,
    #form-signup-city,
    #form-signup-zip { width:100%; }

    /* ---------------------------------------- MOBILE FOOTER */

    footer {
        padding:50px 10px;
    }

    footer > .footer-box {
        width:100%;
        display:block;
        margin:0 0 60px 0;
    }

    footer > .footer-box h5 {
        font-weight:300;
    }
}
