@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');
@import url('https://use.fontawesome.com/releases/v5.15.0/css/all.css');

/* ---------------------------------------- CSS RESET & DEFAULTS */
* {
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Titillium Web', Times, serif;
    font-size:16px;
    background: #F7F4F1;
}

.hide-on-desktop {
  display:none;
}

/* ---------------------------------------- COLOURS */
.color-red {
  color: #D00000;
}
.color-white {
  color: #F7F4F1
}
.color-black {
  color: #03071E
}
.color-red-bg {
  background-color: #D00000;
}
.color-white-bg {
  background-color: #F7F4F1
}
.color-black-bg {
  background-color: #03071E
}
.color-orange-bg {
  background-color: #E85D04
}



/* ---------------------------------------- SCREEN READERS */
.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}


/* ---------------------------------------- FORMATTING */
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}
.text-upper {
    text-transform: uppercase;
}
.text-bold {
    font-weight: 900;
}
.text-italic {
    font-style: italic;
}
.text-smaller {
  font-size:0.8em;
}
.text-larger {
  font-size:1.3em;
}
.text-pad {
  padding:0px 10px 2px 10px;
  margin:0 2px;
  border-radius: 3px;
}




/* ---------------------------------------- HEADER */
header {
    position: relative;
    width:100%;
    background: rgba(225,6,0,1);
}

#nav-season, #nav-round {
    list-style: none;
}

#nav-season li, #nav-round li {
    display: inline-block;
    padding: 2px 5px;
    margin: 10px 0 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#nav-season li#nav-season-mobile-more, #nav-round li#nav-round-mobile-more {
  display:none;
  padding:0;
  margin-left:20px;
  margin-right:0px;
  text-align: left;
  width:10px;
}

#nav-round li {
    text-align: center;
    width:60px;
    position:relative;
    padding: 5px 6px 0px 5px;
    vertical-align: middle;
}

#nav-round li img {
  width:100%;
}

#nav-round li.nav-round-future {
  cursor: not-allowed;
}

#nav-round li.nav-round-future img.nav-round-circuit, #season-standings .season-stangings-circuit-future {
  -webkit-filter: brightness(10%) blur(0.8px) drop-shadow(0px 0px 0px #FF0000) drop-shadow(0px 0px 0px #FF0000);
          filter: brightness(10%) blur(0.8px) drop-shadow(0px 0px 0px #FF0000) drop-shadow(0px 0px 0px #FF0000);
}

#nav-season li.nav-season-current, #nav-round li.nav-round-current {
  border-bottom:1px solid rgba(255,255,255,0.6);
  border-radius: 5px 5px 0 0;
}


.nav-round-hover {
  display:none;
  position:absolute;
  top:0;
  left:-30px;
  width:110px;
  z-index: 999;
  padding:5px;
  border:2px solid #1F1F1F;
  border-radius: 3px;
}
.nav-round-num {
    font-size: 1.3em;
    font-weight: 700;
}



/* ---------------------------------------- ERRORS */
#errors {
    display:none;
    background-color: red;
    position:absolute;
    top:0;
    left:0;
    right:0;
    padding:20px;
}


/* ---------------------------------------- BUTTONS */
.button {
    text-transform: uppercase;
    border-radius: 3px;
    padding:5px 20px;
    border:0;
    letter-spacing: 1px;
    word-spacing: 4px;
    -webkit-box-shadow: 0px 0px 20px -10px #000;
            box-shadow: 0px 0px 20px -10px #000;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


/* ---------------------------------------- HEADERS */
h1,h2,h3 {
    margin:30px 0 40px 20px;
    font-size:30px;
    font-weight:500;
    letter-spacing: 2px;
    word-spacing: 5px;
}


/* ---------------------------------------- MAIN */

main {
  margin:0px;
  padding-right:20px;
}

section {
  background-color: rgba(255,255,255,1);
  display:inline-block;
  width:-webkit-fit-content;
  width:-moz-fit-content;
  width:fit-content;
  border-radius: 10px;
  padding:0px 10px 10px 10px;
  -webkit-box-shadow: 0px 0px 40px -10px #000;
          box-shadow: 0px 0px 40px -10px #000;
  margin:0 0 20px 20px;
  vertical-align: top;
}

section h2, section h3 {
  margin:10px 0 10px 0px;
  font-size:25px;
  font-weight:500;
  letter-spacing: 1px;
  word-spacing: 4px;
}

section h3 {
  margin-top:0px;
  font-size:20px;
  letter-spacing: 1px;
  word-spacing: 3px;
}

section p {
  margin-bottom:15px;
}

section p:last-child {
  margin-bottom:0;
}

/* ---------------------------------------- HEAD 2 HEAD */

#head2head {
    position:relative;
}

#head2head table {
  border-collapse: collapse;
}

#head2head table tr td:first-child {
  text-align: right;
}

#head2head table tr td:nth-child(2) {
  text-align: center;
  padding:5px 30px;
  text-transform: uppercase;
  font-size:0.8em;
}


#head2head-car td > img {
    width:220px;
    display:block;
    margin:10px auto;
}

#head2head-car td:last-child > img {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

#head2head-flag td > img {
    width:64px;
}

#head2head-position td {
    font-size:30px;
    font-weight:700;
}

#head2head-driver td {
    font-size:30px;
    font-weight:700;
}

#head2head-graph {
  margin-top:10px;
  display:block;
  width:590px;
  height:auto;
}





#season-standings table {
  border-collapse: collapse;
  /* border:2px solid #1F1F1F; */
  border-radius: 5px;
}

#season-standings table thead tr th {
  text-align: center;
  line-height: 1.2em;
  font-weight: 400;
  padding:10px 5px;
}
#season-standings table thead tr th img {
  display: block;
  margin:0 auto 10px auto;
  width:35px;
}

#season-standings table tbody tr th {
  font-weight: 400;
  padding:5px 8px;
  font-size: 0.9em;
  line-height: 1em;
}

#season-standings table tbody tr th > img {
  width:24px;
  margin:0;
  padding:0;
}

#season-standings table tbody tr td {
  padding:7px 9px;
  position:relative;
  /* border-bottom:1px solid #aaa; */
  cursor: pointer;
  text-align: center;
}

#season-standings table tbody tr td:last-child {
  font-size: 0.9em;
  font-weight: 400;
}

#season-standings table tbody tr:nth-child(odd) th, #season-standings table tbody tr:nth-child(odd) td {
  background-color:#E9E9E9;
}

#season-standings table tbody tr:hover th, #season-standings table tbody tr:hover td {
  background-color:#D9D9D9;
}

.season-standings-moreinfo {
  text-align: left;
  white-space: nowrap;
  display:none;
  margin-top:10px;
  padding-top:10px;
  border-top:1px solid #AAA;
}



#race-standings table{
  border-collapse: collapse;
}

#race-standings table thead tr th {
  text-align: left;
  line-height: 1.2em;
  font-weight: 400;
  padding:10px 9px;
}

#race-standings table tbody tr td {
  padding:7px 9px;
  position:relative;
  text-align: left;
}

#race-standings .head2head-select1, #race-standings .head2head-select2 {
  border:0;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 3px;
  padding:5px 10px;
  letter-spacing: 1px;
  word-spacing: 4px;
  -webkit-box-shadow: 0px 0px 20px -10px #000;
          box-shadow: 0px 0px 20px -10px #000;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.race-standings-car img {
  width:80px;
}

#race-standings table tbody tr:nth-child(odd) td {
  background-color:#E9E9E9;
}

#race-standings table tbody tr:hover td {
  background-color:#D9D9D9;
}

#map {
  height:600px;
  width:900px;
}

#track-sectors {
  width:900px;
}



/* ---------------------------------------- MOBILE ONLY */

@media only screen and (max-width: 600px) {

  .hide-on-mobile {
    display: none;
  }
  .hide-on-desktop {
    display:block;
  }

  #nav-season, #nav-round {
    overflow: hidden;
    height:50px;
  }
  #nav-round {
    height:52px;
  }

  #nav-round li {
    width:40px;
  }

  #nav-season li#nav-season-mobile-more, #nav-round li#nav-round-mobile-more {
    display:inline-block;
  }


  main {
    padding:0 20px;
    margin:0;
  }

  section {
    display:block;
    width:100%;
    margin:0 0 20px 0;
    overflow: scroll;
  }

  #head2head-car td > img {
    width:100%;
  }

  #head2head-driver td {
    font-size:20px;
  }

  #head2head-graph {
    width:100%;
  }

  #track-sectors {
    width:100%;
  }

  #map {
    width:100%;
  }
}
