@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');
@import url('https://use.fontawesome.com/releases/v5.15.0/css/all.css');

/* ---------------------------------------- CSS RESET & DEFAULTS */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Titillium Web', Times, serif;
    font-size:16px;
    background: #F7F4F1;
}


/* ---------------------------------------- COLOURS */
.color-red {
  color: rgba(225,6,0,1);
}
.color-white {
  color: #F7F4F1
}
.color-black {
  color: #1F1F1F
}
.color-red-bg {
  background-color: rgba(225,6,0,1);
}
.color-white-bg {
  background-color: #F7F4F1
}
.color-black-bg {
  background-color: #1F1F1F
}



/* ---------------------------------------- SCREEN READERS */
.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}


/* ---------------------------------------- FORMATTING */
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}
.text-upper {
    text-transform: uppercase;
}
.text-bold {
    font-weight: 900;
}
.text-italic {
    font-style: italic;
}
.text-smaller {
  font-size:0.8em;
}


/* ---------------------------------------- HEADER */
header {
    position: relative;
    width:100%;
    background: rgba(225,6,0,1);
    margin-bottom:30px;
}

header > h1 {
    font-size:20px;
    font-weight:700;
    letter-spacing: 0px;
    word-spacing: 10px;
    padding:5px 10px;

}

#nav-season, #nav-round {
    list-style: none;
}

#nav-season li, #nav-round li {
    display: inline-block;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#nav-round li {
    text-align: center;
    width:70px;
    position:relative;
}

.nav-round-hover {
  display:none;
  position:absolute;
  top:0;
  left:-20px;
  width:110px;
  z-index: 999;
  padding:5px;
  border:2px solid #1F1F1F;
  border-radius: 3px;
}
.nav-round-num {
    font-size: 1.3em;
    font-weight: 700;
}



/* ---------------------------------------- ERRORS */
#errors {
    display:none;
    background-color: red;
    position:absolute;
    top:0;
    left:0;
    right:0;
    padding:20px;
}


/* ---------------------------------------- MAIN */

main {
  margin:20px;
}


/* ---------------------------------------- HEAD 2 HEAD */

#head2head {
    position:relative;
}

#head2head-1, #head2head-2 {
  text-align: center;
  margin:0 10px;
  position:relative;
  display:inline-block;
}

#head2head-2 img {
  transform: scaleX(-1);
}

.head2head-car {
    width:400px;
    display:block;
    margin:10px auto;
}

.head2head-flag {
    width:64px;
    display:block;
    margin:0 auto;
}
.head2head-position {
    font-size:35px;
    font-weight:700;
}

#head2head h3 {
    font-size:30px;
}
#head2head-graph {
  margin-top:10px;
  display:block;
  width:900px;
  height:auto;
}





#season-standings {
  border-collapse: collapse;
  /* border:2px solid #1F1F1F; */
  border-radius: 5px;
}

#season-standings thead tr th {
  text-align: center;
  line-height: 1.2em;
  font-weight: 400;
  padding:10px 5px;
}
#season-standings thead tr th img {
  display: block;
  margin:0 auto 10px auto;
  width:35px;
}

#season-standings tbody tr th {
  font-weight: 600;
  padding:5px 8px;
}

#season-standings tbody tr td {
  padding:7px 9px;
  position:relative;
  /* border-bottom:1px solid #aaa; */
  cursor: pointer;
  text-align: center;
}

#season-standings tbody tr td:last-child {
  font-weight: 700;
}

#season-standings tbody tr:nth-child(odd) th, #season-standings tbody tr:nth-child(odd) td {
  background-color:#E9E9E9;
}

#season-standings tbody tr:hover th, #season-standings tbody tr:hover td {
  background-color:#D9D9D9;
}



.season-standings-moreinfo {
  text-align: left;
  white-space: nowrap;
  display:none;
  margin-top:10px;
  padding-top:10px;
  border-top:1px solid #AAA;
}
